<div class="leaderboard">
  
  {{#each tags}}
  
  <div class="lb">
    <a href="/profile/{{id}}"><img src="/favicon.ico" alt=""></a>
    <div class="vl"></div>
    <h4>{{name}}</h4> 
    <div class="vl"></div>
    <p class="desc">{{description}}</p> {{vote_count}}
    <div class="vl"></div>
    {{!-- <a href="/profile/{{id}}">view profile</a> --}}
    <form method="post" action="/vote">
    <input name="id" type="hidden" value="{{id}}"/>
    <button class="voteButton" type="submit"><h1>▲</h1></button>
    </form>
  </div>
  {{/each}}
    
  
</div>